.contacts-details {
    margin-top: 5rem;
}

.contacts-details h1 {
    color: #000;
    text-align: center;
    padding-bottom: 5rem;
}

.underline-box {
    text-decoration: underline solid red 20%;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 2.5rem;
}

.p-txt p {
    color: #000;
}

.wapper {
    height: 100vh;
    background: linear-gradient(218deg, #F9F9F9 0%, #F9F9F9 0%, #9E8A8A 0%, #502ECA 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    border-radius: 6px;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(50%);
    background-color: #000;

}

.container .left-side .details {
    margin: 0px 14px 14px;
    text-align: center;
}

.container .left-side .details .topic {
    font-size: 18px;
    font-weight: 400;
}

.container .left-side .details .text-one,
.container .left-side .details .text-one {
    font-size: 14px;
    color: #000;
}
.container .left-side .details .text-two,
.container .left-side .details .text-two {
    font-size: 14px;
    color: #000;
}




.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.container .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #000;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {

    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
}

.right-side .massage-box {
    min-height: 110px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button button[type="submit"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button button[type="submit"]:hover {
    background: #5029bc;

}

@media (max-width:950px) {
    .container {
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}

@media (max-width:820px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }
    .wapper{
        height: auto;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

.icons {
    font-size: 2rem;
}